<ion-view title="我的">
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" href="#/tab/user"> <i class="icon ion-ios7-person-outline"></i> 账号管理</a>

			<a class="item item-icon-left" href="#/tab/myFavor"> <i class="icon ion-ios7-heart-outline"></i> 我的收藏</a>

			<a class="item item-icon-left" href="#/tab/myResource"> <i class="icon ion-ios7-cloud-download-outline"></i> 我的资源 </a>

			<a class="item item-icon-left" href="#/tab/myComments"> <i class="icon ion-ios7-mic-outline"></i> 我的评论 </a>

			<a class="item item-icon-left" href="#/tab/myMessages"> <i class="icon ion-ios7-chatbubble-outline"></i> 我的消息 <span class="badge badge-assertive">0</span> </a>

			<!--System Config-->
			<div class="item item-divider">
				系统
			</div>

			<a class="item item-icon-left"> <i class="icon ion-ios7-information-outline"></i> 版本 <span class="item-note"> 1.0 </span> </a>

			<a class="item item-icon-left" href="#/tab/about"> <i class="icon ion-ios7-analytics-outline"></i> 关于软件 </a>

			<a class="item item-icon-left item-icon-right"> <i class="icon ion-ios7-telephone-outline"></i> 联系我们 <i class="icon ion-ios7-telephone-outline"></i> </a>

			<a class="item item-icon-left item-icon-right" href="#/tab/feed"> <i class="icon ion-ios7-chatbubble-outline"></i> 在线反馈 <i class="icon ion-ios7-arrow-thin-right"></i> </a>

		</div>
	</ion-content>
</ion-view>